{% extends "./base.html" %}

{% block titlepage %}
  Hecho
{% endblock titlepage %}

{% block navbar %}
{% endblock navbar %}

{% block main %}
<div class="container mx-auto px-4 py-8">
    <div class="max-w-md mx-auto bg-white rounded-md shadow-md overflow-hidden">
      <div class="bg-green-500 px-4 py-2">
        <h1 class="text-white text-lg font-medium">Correo electrónico enviado</h1>
      </div>
      <div class="px-4 py-4">
        <p>Revisa tu correo electrónico para completar el proceso de restablecimiento de contraseña.</p>
      </div>
    </div>
  </div>
{% endblock main %}