{% extends "./base.html" %}

{% block titlepage %}
  Hecho
{% endblock titlepage %}

{% block navbar %}
{% endblock navbar %}

{% block main %}
<div class="container mx-auto px-4 py-8">
    <div class="max-w-md mx-auto bg-white rounded-md shadow-md overflow-hidden">
      <div class="bg-green-500 px-4 py-2">
        <h1 class="text-white text-lg font-medium">Contraseña cambiada con éxito</h1>
      </div>
      <div class="px-4 py-4">
        <p>Tu contraseña ha sido cambiada con éxito.</p>
      </div>
    <a href="{% url 'login' %}" class="text-white text-lg font-medium">
        <div class="bg-green-500 px-4 py-2 hover:bg-green-400">
            <p class="tracking-widest uppercase">Login</p>
        </div>
        </a>
    </div>
  </div>
{% endblock main %}