{% extends "./base.html" %}

{% block titlepage %}
  Consultas
{% endblock titlepage %}

{% block title %}
  Consulta de registros históricos
{% endblock title %}

{% block main %}
<form method="get" class="md:flex">
  <div class="md:flex">
    <div class="mb-4 md:flex items-center md:mb-0 md:mr-8">
      <label for="id_start_date" class="block font-bold text-black mb-2 md:mb-0 mr-2">Desde:</label>
      {{ form.start_date }}
    </div>
    <div class="mb-4 md:flex items-center md:mb-0 md:mr-8">
      <label for="id_end_date" class="block font-bold text-black mb-2 md:mb-0 mr-2">Hasta:</label>
      {{ form.end_date }}
    </div>
    <div class="md:flex items-center md:w-48 md:mb-0 md:mr-8">
      <label for="id_console" class="block font-bold text-black mb-2 md:mb-0 mr-2">Consola</label>
      {{ form.console }}
    </div>
  </div>
  <button type="submit" class="w-full py-2 my-4 bg-yellow text-white font-medium tracking-widest uppercase rounded hover:bg-amber-400 focus:outline-none focus:ring-2 focus:ring-amber-200 md:w-48 md:ml-4">Buscar</button>
</form>
{% if form.errors %}
  <div class="w-full bg-red-100 border border-red-400 text-red-700 mt-4 px-4 py-3 rounded relative" role="alert">
      <strong class="font-bold">Error:</strong>
      <span class="block sm:inline">Se han encontrado los siguientes errores en el formulario:</span>
      <ul class="mt-2 list-disc list-inside">
        {% for field_errors in form.errors.values %}
          {% for error in field_errors %}
            <li>{{ error }}</li>
          {% endfor %}
        {% endfor %}
      </ul>
  </div>
{% endif %}

{% if records %}
  <div class="overflow-x-auto overflow-hidden">
    <table class="min-w-full divide-y divide-gray-200">
        <thead class="bg-black text-white">
            <tr>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Consola</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Horas</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Minutos</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Hora de entrada</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Hora de salida</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Control extra</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Costo control</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Costo tiempo</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Costo total</th>
            </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
            <div>
                {% for time in records %}
                <tr>
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">{{ time.console.name }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ time.hours }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ time.minutes }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ time.start_time|time:"g:i A" }}</td>
                    {% if time.end_time == time.start_time %}
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">no hay </td>
                    {% else %}
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ time.end_time|time:"g:i A" }}</td>
                    {% endif %}

                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ time.extra_controller }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">$  {{ time.controller_cost }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">$  {{ time.time_cost }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 font-bold">$  {{ time.total_cost }}</td>
                </tr>
                {% endfor %}
            </div>
        </tbody>
    </table>
  </div>

  <div class="border border-black rounded-lg p-6 my-8 mx-4">
    <h2 class="border-b-2 border-black mb-4 pb-2 text-xl font-semibold">Resumen de la consulta</h2>
    <div class="flex flex-col space-y-2">
      <div class="flex justify-between">
        <div class="text-gray-600 font-medium">Tiempo jugado:</div>
        <div class="text-gray-900">{{ total_hours }} horas - {{ total_minutes }} minutos</div>
      </div>
      <div class="flex justify-between">
        <div class="text-gray-600 font-medium">Costo por tiempo:</div>
        <div class="text-gray-900">$ {{ total_cost }}</div>
      </div>
      <div class="flex justify-between">
        <div class="text-gray-600 font-medium">Controles extras:</div>
        <div class="text-gray-900">{{ total_controller }}</div>
      </div>
      <div class="flex justify-between">
        <div class="text-gray-600 font-medium">Costo por controles:</div>
        <div class="text-gray-900">$ {{ total_controller_cost }}</div>
      </div>
      <div class="flex justify-between border-t-2 border-black pt-2">
        <div class="text-gray-700 font-bold">Costo total:</div>
        <div class="text-gray-900 font-medium">$ {{ total_combined }}</div>
      </div>
    </div>
  </div>
{% else %}
  <p class="ml-8 uppercase">no hay registros</p>
{% endif %}
{% endblock %}