{% extends "./base.html" %}

{% block titlepage %}
    Términos y condiciones 
{% endblock titlepage %}

{% block title %}
    Términos y condiciones
{% endblock title %}

{% block main %}
    <div class="px-40 pb-10">
        <p>
            Bienvenido a nuestra aplicación de seguimiento de tiempo de juego de la sala de videojuegos <span class="font-bold text-yellow">AlphaGamer</span> . Antes de utilizar nuestra aplicación, por favor lea atentamente los siguientes términos y condiciones. Al utilizar nuestra aplicación, usted acepta cumplir con estos términos y condiciones.
        </p>
        <p class="block my-6 uppercase font-semibold">Propiedad intelectual</p>
        <p>
            Todos los derechos de propiedad intelectual de la aplicación, incluyendo patentes, marcas registradas, derechos de autor, nombres comerciales y cualquier otra propiedad intelectual relacionada con la aplicación, son propiedad exclusiva de la sala de videojuegos.
        </p>
        <p class="block my-6 uppercase font-semibold">Uso de la aplicación</p>
        <p>
            La aplicación es un sistema de seguimiento de tiempo de juego de la sala de videojuegos, que registra el tiempo de juego de los clientes de la sala de videojuegos y calcula el costo total de acuerdo con el tiempo solicitado por el cliente. El uso de la aplicación está limitado a los empleados de la sala de videojuegos que tienen una cuenta de usuario autorizada. La aplicación está diseñada para ser utilizada exclusivamente por el personal autorizado de la sala de videojuegos.
        </p>
        <p class="block my-6 uppercase font-semibold">Registro de usuarios nuevos</p>
        <p>
            El registro de usuarios nuevos está restringido a la cuenta del administrador. Los empleados autorizados no tienen acceso al registro de usuarios nuevos.
        </p>
        <p class="block my-6 uppercase font-semibold">Privacidad de los datos del usuario</p>
        <p>
            La aplicación no recopila ni almacena información personal de los clientes de la sala de videojuegos. Los datos del usuario (tiempo de juego, costo total) se almacenan en la aplicación después de que se haya completado la transacción.
        </p>
        <p class="block my-6 uppercase font-semibold">Precios y pagos</p>
        <p>
            Los precios de los servicios de la sala de videojuegos están sujetos a cambios sin previo aviso. Los precios se muestran en la aplicación y se calculan automáticamente en función del tiempo de juego solicitado por el cliente.
        </p>
        <p class="block my-6 uppercase font-semibold">Limitación de responsabilidad</p>
        <p>
            La sala de videojuegos no será responsable de ningún daño directo, indirecto, incidental, especial o consecuente derivado del uso o la imposibilidad de usar la aplicación.
        </p>
        <p class="block my-6 uppercase font-semibold">Modificaciones a los términos y condiciones</p>
        <p>
            La sala de videojuegos se reserva el derecho de modificar los términos y condiciones en cualquier momento sin previo aviso.
        </p>
        <p class="block my-6 uppercase font-semibold">Ley aplicable</p>
        <p>
            Estos términos y condiciones se regirán e interpretarán de acuerdo con las leyes del país donde se encuentra la sala de videojuegos.
        </p>
    </div>
{% endblock main %}