{% extends "./base.html" %}

{% block titlepage %}
    Seguimiento
{% endblock titlepage %}

{% block title %}
Tiempos de juego
{% endblock title%}

{% block main %}
<div class="w-full">
    <p class="px-6 py-3 text-left text-xs font-medium text-white bg-gray_e uppercase tracking-wider">Tiempos pendientes</p>
</div>
<div class="overflow-x-auto overflow-hidden">
    <table class="min-w-full divide-y divide-gray-200">
        <thead class="bg-black text-white">
            <tr>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Consola</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Horas</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Minutos</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Hora de entrada</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Hora de salida</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Control extra</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Costo control</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Costo tiempo</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Costo total</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Pago</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Ver</th>
                {% if perms.managementime.delete_tiempojuego %}
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Eliminar</th>
                {% endif %}
            </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
            <div>
                {% for tiempo in TiempoJuegoList %}
                {% if not tiempo.is_active %}
                <tr>
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">{{ tiempo.consola.nombre }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ tiempo.horas }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ tiempo.minutos }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ tiempo.hora_inicio|time:"g:i A" }}</td>
                    {% if tiempo.hora_fin == tiempo.hora_inicio %}
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">no hay </td>
                    {% else %}
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ tiempo.hora_fin|time:"g:i A" }}</td>
                    {% endif %}
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ tiempo.control_extra }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">$  {{ tiempo.costo_control }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">$  {{ tiempo.costo_tiempo }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 font-bold">$  {{ tiempo.costo_total }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                        {% if tiempo.is_completed %}
                        <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-green-100 text-green-800">
                            Sí
                        </span>
                        {% else %}
                        <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-red-100 text-red-800">
                            No
                        </span>
                        {% endif %}
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-lg font-bold text-neutral-600 hover:text-neutral-900">
                        <a href="{% url 'actualizar' pk=tiempo.pk %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><title>Ver</title><path fill="#2a2a2a" d="M12 9a3 3 0 0 1 3 3a3 3 0 0 1-3 3a3 3 0 0 1-3-3a3 3 0 0 1 3-3m0-4.5c5 0 9.27 3.11 11 7.5c-1.73 4.39-6 7.5-11 7.5S2.73 16.39 1 12c1.73-4.39 6-7.5 11-7.5M3.18 12a9.821 9.821 0 0 0 17.64 0a9.821 9.821 0 0 0-17.64 0Z"/></svg>
                        </a>
                    </td>
                    {% if perms.managementime.delete_tiempojuego %}
                    <td class="px-6 py-4 whitespace-nowrap text-lg font-semibold text-red-600">
                        <a href="#" onclick="eliminarJuego({{ tiempo.id }})">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><title>Eliminar</title><path fill="#FF0000" d="M9 3v1H4v2h1v13a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V6h1V4h-5V3H9M7 6h10v13H7V6m2 2v9h2V8H9m4 0v9h2V8h-2Z"/></svg>
                        </a>
                    </td>
                    {% endif %}
                </tr>
                {% endif %}
                {% endfor %}
            </div>
        </tbody>
    </table>
</div>
<div class="w-full">
    <p class="px-6 py-3 text-left text-xs font-medium text-white bg-gray_e uppercase tracking-wider">tiempos completados</p>
</div>
<div class="overflow-x-auto overflow-hidden">
    <table class="min-w-full divide-y divide-gray-200 overflow-x-auto">
        <thead class="bg-black text-white">
            <tr>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Consola</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Horas</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Minutos</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Hora de entrada</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Hora de salida</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Control extra</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Costo control</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Costo tiempo</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Costo total</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Pago</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Ver</th>
                {% if perms.managementime.delete_tiempojuego %}
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Eliminar</th>
                {% endif %}
            </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
            <div>
                {% for tiempo in TiempoJuegoList %}
                {% if tiempo.is_active %}
                <tr>
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">{{ tiempo.consola.nombre }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ tiempo.horas }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ tiempo.minutos }}</td>
                    {% if tiempo.horas == 0  and tiempo.minutos == 0 %}
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">0</td>
                    {% else %}
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ tiempo.hora_inicio|time:"g:i A" }}</td>
                    {% endif %}
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ tiempo.hora_fin|time:"g:i A" }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ tiempo.control_extra }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">$  {{ tiempo.costo_control }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">$  {{ tiempo.costo_tiempo }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 font-bold">$  {{ tiempo.costo_total }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                        {% if tiempo.is_completed %}
                        <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-green-100 text-green-800">
                            Sí
                        </span>
                        {% else %}
                        <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-red-100 text-red-800">
                            No
                        </span>
                        {% endif %}
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-lg text-neutral-600 hover:text-neutral-900">
                        <a href="{% url 'actualizar' pk=tiempo.pk %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><title>Ver</title><path fill="#2a2a2a" d="M12 9a3 3 0 0 1 3 3a3 3 0 0 1-3 3a3 3 0 0 1-3-3a3 3 0 0 1 3-3m0-4.5c5 0 9.27 3.11 11 7.5c-1.73 4.39-6 7.5-11 7.5S2.73 16.39 1 12c1.73-4.39 6-7.5 11-7.5M3.18 12a9.821 9.821 0 0 0 17.64 0a9.821 9.821 0 0 0-17.64 0Z"/></svg>
                        </a>
                    </td>
                    {% if perms.managementime.delete_tiempojuego %}
                    <td class="px-6 py-4 whitespace-nowrap text-lg text-red-600">
                        <a href="#" onclick="eliminarJuego({{ tiempo.id }})">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><title>Eliminar</title><path fill="#FF0000" d="M9 3v1H4v2h1v13a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V6h1V4h-5V3H9M7 6h10v13H7V6m2 2v9h2V8H9m4 0v9h2V8h-2Z"/></svg>
                        </a>
                    </td>
                    {% endif %}
                </tr>
                {% endif %}
                {% endfor %}
            </div>
        </tbody>
    </table>
</div>
{%endblock main%}

{% block js %}
    <script>
        function eliminarJuego(id){
            Swal.fire({
                title: '¿Desea eliminar este registro?',
                text: "Esta acción es irreversible.",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sí, eliminar',
                cancelButtonText: 'Cancelar',
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = '/eliminar-tiempo/'+id +'/'
                }
            })
        }
    </script>
{% endblock js %}