{% extends "./base.html" %}

{% block titlepage %}
    Seguimiento
{% endblock titlepage %}

{% block title %}
Tiempos de juego
{% endblock title%}

{% block main %}
<div class="w-full">
    <p class="px-6 py-3 text-left text-xs font-medium text-white bg-gray_e uppercase tracking-wider">Tiempos pendientes</p>
</div>
<div class="overflow-x-auto overflow-hidden">
    <table class="min-w-full divide-y divide-gray-200">
        <thead class="bg-black text-white">
            <tr>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Consola</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Horas</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Minutos</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Hora de entrada</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Hora de salida</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Control extra</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Costo control</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Costo tiempo</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Costo total</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Pago</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Ver</th>
                {% if perms.managementime.delete_tiempojuego %}
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Eliminar</th>
                {% endif %}
            </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
            <div>
                {% for tiempo in TiempoJuegoList %}
                {% if not tiempo.is_active %}
                <tr>
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">{{ tiempo.consola.nombre }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ tiempo.horas }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ tiempo.minutos }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ tiempo.hora_inicio|time:"g:i A" }}</td>
                    {% if tiempo.hora_fin == tiempo.hora_inicio %}
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">no hay </td>
                    {% else %}
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ tiempo.hora_fin|time:"g:i A" }}</td>
                    {% endif %}
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ tiempo.control_extra }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">$  {{ tiempo.costo_control }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">$  {{ tiempo.costo_tiempo }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 font-bold">$  {{ tiempo.costo_total }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                        {% if tiempo.is_completed %}
                        <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-green-100 text-green-800">
                            Sí
                        </span>
                        {% else %}
                        <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-red-100 text-red-800">
                            No
                        </span>
                        {% endif %}
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-lg text-neutral-600 hover:text-neutral-900"><a href="{% url 'actualizar' pk=tiempo.pk %}"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 6.5C13.8387 6.49389 15.6419 7.00678 17.2021 7.97973C18.7624 8.95267 20.0164 10.3462 20.82 12C19.17 15.37 15.8 17.5 12 17.5C8.2 17.5 4.83 15.37 3.18 12C3.98362 10.3462 5.23763 8.95267 6.79788 7.97973C8.35813 7.00678 10.1613 6.49389 12 6.5ZM12 4.5C7 4.5 2.73 7.61 1 12C2.73 16.39 7 19.5 12 19.5C17 19.5 21.27 16.39 23 12C21.27 7.61 17 4.5 12 4.5ZM12 9.5C12.663 9.5 13.2989 9.76339 13.7678 10.2322C14.2366 10.7011 14.5 11.337 14.5 12C14.5 12.663 14.2366 13.2989 13.7678 13.7678C13.2989 14.2366 12.663 14.5 12 14.5C11.337 14.5 10.7011 14.2366 10.2322 13.7678C9.76339 13.2989 9.5 12.663 9.5 12C9.5 11.337 9.76339 10.7011 10.2322 10.2322C10.7011 9.76339 11.337 9.5 12 9.5ZM12 7.5C9.52 7.5 7.5 9.52 7.5 12C7.5 14.48 9.52 16.5 12 16.5C14.48 16.5 16.5 14.48 16.5 12C16.5 9.52 14.48 7.5 12 7.5Z" fill="black"/>
                    <title>Ver</title>    
                    </svg>
                        </a></td>
                    {% if perms.managementime.delete_tiempojuego %}
                    <td class="px-6 py-4 whitespace-nowrap text-lg text-red-600"><a href="#" onclick="eliminarJuego({{ tiempo.id }})"><ion-icon name="trash-outline"></ion-icon></a></td>
                    {% endif %}
                </tr>
                {% endif %}
                {% endfor %}
            </div>
        </tbody>
    </table>
</div>
<div class="w-full">
    <p class="px-6 py-3 text-left text-xs font-medium text-white bg-gray_e uppercase tracking-wider">tiempos completados</p>
</div>
<div class="overflow-x-auto overflow-hidden">
    <table class="min-w-full divide-y divide-gray-200 overflow-x-auto">
        <thead class="bg-black text-white">
            <tr>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Consola</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Horas</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Minutos</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Hora de entrada</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Hora de salida</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Control extra</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Costo control</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Costo tiempo</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Costo total</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Pago</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Ver</th>
                {% if perms.managementime.delete_tiempojuego %}
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Eliminar</th>
                {% endif %}
            </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
            <div>
                {% for tiempo in TiempoJuegoList %}
                {% if tiempo.is_active %}
                <tr>
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">{{ tiempo.consola.nombre }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ tiempo.horas }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ tiempo.minutos }}</td>
                    {% if tiempo.horas == 0  and tiempo.minutos == 0 %}
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">0</td>
                    {% else %}
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ tiempo.hora_inicio|time:"g:i A" }}</td>
                    {% endif %}
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ tiempo.hora_fin|time:"g:i A" }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ tiempo.control_extra }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">$  {{ tiempo.costo_control }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">$  {{ tiempo.costo_tiempo }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 font-bold">$  {{ tiempo.costo_total }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                        {% if tiempo.is_completed %}
                        <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-green-100 text-green-800">
                            Sí
                        </span>
                        {% else %}
                        <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-red-100 text-red-800">
                            No
                        </span>
                        {% endif %}
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-lg text-neutral-600 hover:text-neutral-900"><a href="{% url 'actualizar' pk=tiempo.pk %}"><ion-icon name="eye-outline" class="cursor-pointer"></ion-icon></a></td>
                    {% if perms.managementime.delete_tiempojuego %}
                    <td class="px-6 py-4 whitespace-nowrap text-lg text-red-600"><a href="#" onclick="eliminarJuego({{ tiempo.id }})"><ion-icon name="trash-outline"></ion-icon></a></td>
                    {% endif %}
                </tr>
                {% endif %}
                {% endfor %}
            </div>
        </tbody>
    </table>
</div>
{%endblock main%}

{% block js %}
    <script>
        function eliminarJuego(id){
            Swal.fire({
                title: '¿Desea eliminar este registro?',
                text: "Esta acción es irreversible.",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sí, eliminar',
                cancelButtonText: 'Cancelar',
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = '/eliminar-tiempo/'+id +'/'
                }
            })
        }
    </script>
{% endblock js %}